[Desktop Entry]
Type=Application
Terminal=false
Exec=/usr/local/pycharm/bin/pycharm.sh
Name=PyCharm
Icon=pycharm
Categories=Development;IDE;Python
Comment=IDE per la programmazione in Python
StartupNotify=true
